body{
    font-family: 'Press Start 2P', cursive;
}

:root{
    --columns-row: 2;
}

h1{
    text-align: center;
    font-size: 40px;
}

#grid{
    display: grid;
    grid-template-rows: repeat(var(--columns-row), 1fr);
    grid-template-columns: repeat(var(--columns-row), 1fr);
    width: 480px;
    height: 480px;

    border: 1px solid black;
    border-radius: 4px;
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.grid-item{
    border: 1px solid #000;
}

