body{
    font-family: 'Press Start 2P', cursive;
    background-color: #fbf1ef;
}

:root{
    --columns-row: 2;
}

h1{
    text-align: center;
    font-size: 40px;
}

#grid{
    display: grid;
    grid-template-rows: repeat(var(--columns-row), 1fr);
    grid-template-columns: repeat(var(--columns-row), 1fr);
    width: 480px;
    height: 480px;

    background-color: white;
    border: 6px solid black;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
}

.grid-item{
    /*border: 1px solid #000;*/
}

#container{
    position: relative;
    text-align: center;
    top: 30px;
}

.btns{
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;

    padding: 0.35em 1.2em;
    border: 4px solid black;
    border-radius: 4px;
    background-color: white;
    margin:0 0.3em 0.3em 0;
    top: 100px;
    outline: none;
}

.active{
    background-color: black;
    color: white;
}

.footer{
    font-size: 12px;
    text-align: center;
    position: fixed;
    bottom: 5px;
    width: 100%;
}

